<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.daiend.muriox.resource.ResourceMapper">

    <select
            id="findUserIdsByResourceIds"
            resultType="java.lang.Long">
        SELECT DISTINCT user_role.user_id
        FROM sys_user_role user_role
        JOIN sys_role_resource role_resource
        ON role_resource.role_id = user_role.role_id
        WHERE role_resource.resource_id IN
        <foreach
                collection="resourceIds"
                item="resourceId"
                open="("
                separator=","
                close=")">
            #{resourceId}
        </foreach>
    </select>

</mapper>